.main {
  width: 100%;
  background-color: #f0f0f0;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
}
.main ul li {
  width: 100%;
  height: 32px;
  line-height: 32px;
  background-color: #fff;
  padding: 0 5px;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
  color: #0f0f0f;
}
.main ul li:not(:last-of-type) {
  border-bottom: 1px solid #f0f0f0;
}
